################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PublicPortfolio/.vs/PublicPortfolio/config
/PublicPortfolio/.vs/PublicPortfolio/FileContentIndex
/PublicPortfolio/.vs/PublicPortfolio/v17/TestStore/0
/PublicPortfolio/.vs/PublicPortfolio/v17
/PublicPortfolio/publicportfolio.client/obj/Debug
/PublicPortfolio/PublicPortfolio.Server/bin/Debug/net8.0
/PublicPortfolio/PublicPortfolio.Server/obj
/PublicPortfolio/.vs/ProjectEvaluation
/PublicPortfolio/publicportfolio.client/obj/Release
/PublicPortfolio/PublicPortfolio.Server/.config
/PublicPortfolio/PublicPortfolio.Server/bin/Release/net8.0
/PublicPortfolio/PublicPortfolio.Server/Properties
